@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  overflow-x: hidden;
}
.dot-pattern {
  background-image: radial-gradient(circle at 1px 1px, hsla(0,0%,0%,.1) 1px, transparent 0);
  background-size: 1rem 1rem;
}
.text-glow {
  color: #000;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
